footer {
    width: 8.25in;
    margin: 36px auto;
    text-align: center;
    display: flex;
    flex-flow: column;
}
  
.link-text {
    font-weight: 700;
}

.footer-item {
    //I'm doing nothing here.
}

#link::after {
    content: "\00B7";
}

#link:last-child::after {
    content: "";
}
  
footer {
    a {
       color: $turk;
       padding: 0 4px;
       &:hover {
         color: white;
         background-color: $turk;
        transition: all 0.35s ease-out;
        transition-property: all 0.35s ease-out;
        -webkit-transition-property: all 0.35s ease-out;
        -moz-transition-property: all 0.35s ease-out;
        -o-transition-property: all 0.35s ease-out;
       }
    }
}