.section {
    margin-bottom: 20px;
  }

.item {
  margin-bottom: 14px;
}

.section {
  .item:last-child {
    margin-bottom: 0px;
  }
}

.group {
  .item {
    margin-top: 0;
  }
}

.section-title {
  border-left: solid 6px $text-color;
  padding-left: 8px;
  font-family: $font-1;
}

.job-title {
  font-size: 14px;
}

.item-title {
  margin-bottom: 2px;
}

.item-title-span {
  font-weight: 400;
  font-size: 14px;
}
  
.item-info
{
  font-weight: 400;
  font-size: 14px;
}


.avatar {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  object-fit: cover;
  height: 140px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}