<div class="section">
    <h1 class="section-title">{{ .Site.Params.title_as.certificates }}</h1>
        {{ range .Site.Data.features.certificates }}
        <div class="item">
            <h3 class="item-title">{{ .name }}</h3>
            {{ if .link }}<a href="{{ .link }}">
                {{ if $.Site.Params.useFontAwesome }}<i class="fas fa-link"></i>
                {{else}}&#128279;{{ end }}
                </a>
            {{ end }}
            {{ .issued_by | markdownify }} - {{ .date }}
        </div>
        {{ end }}
</div>