<div class="section">
    <h1 class="section-title">{{ .Site.Params.title_as.experience }}</h1>
    {{ range .Site.Data.experience }}
    <div class="item group">
        <h3 class="item-title">{{ .company }}</h3>
        {{ range .roles }}
        <div class="item">
            <div class="flex-row">
                <span class="job-title">{{ .role }}</span>
                <span class="date">{{ .date }}</span>
            </div>
            <p>{{ .details | markdownify }}</p>
        </div>        
        {{ end }}
    </div>
    {{ end }}
</div>