{{ if .Site.Params.display.footer.credits }}
<span class="footer-item" id="credits">
Resume-A4 project is open-sourced by <a href="https://gitlab.com/mertbakir/resume-A4"><span class="link-text">Mert Bakır </span><i class="fab fa-gitlab"></i></a>
</span>
{{ end }}

{{ if .Site.Params.display.footer.links }}
<span class="footer-item">
    {{ range .Site.Params.footer.links.link }}
<span id="link">
    {{ .prefix }} <a href="{{.url}}"><span class="link-text">{{.name}} </span>
    {{ if $.Site.Params.useFontAwesome }}<i class="{{.icon}}"></i>{{ end }}
        </a></span>
    {{ end }}
</span>
{{ end }}

<span class="footer-item">
    {{ .Site.Params.footer.footnote }}
</span>
