Last updated on {{ .Site.Params.dateUpdated }}<br>
This page is print friendly, you can print via your browser or <a href="{{ .Site.Params.contacts.download }}"><span class="link-text">Download <span><i class="fas fa-save"></i></a>
<br>
Contact me on <a href="{{ .Site.Params.contacts.linkedin }}"><span class="link-text">Linkedin </span><i class="fab fa-linkedin"></i></a>
| See, this project at <a href="{{ .Site.Params.contacts.gitlab }}"> <span class="link-text">GitLab </span><i class="fab fa-gitlab"></i></a>
| Checkout my <a href="{{ .Site.Params.contacts.website }}"><span class="link-text">Website </span><i class="fas fa-globe"></i></a>