{{- $useFontAwesome := .Header.useFontAwesome | default .useFontAwesome -}}
{{- $aboutData := .Data.features.about -}}
{{- $name := $aboutData.name | default "Resume" -}}
{{- $tagline := $aboutData.tagline -}}
{{- $showTagline := and .Header.tagline $tagline -}}
{{- $showContactInline := or .Header.avatar (not .Header.contactOnSide) -}}

<div class="title">
	<h1 class="name">{{ $name }}</h1>
	{{- if $showTagline -}}<h2 class="tagline">{{ $tagline }}</h2>{{- end -}}
	{{- if $showContactInline -}}
		{{- partial "_header_links" (dict "Header" .Header "Data" .Data "useFontAwesome" $useFontAwesome "Separator" " | ") -}}
	{{- end -}}
</div>
	
{{- if .Header.avatar -}}
<div><img class="avatar right" src="{{ .Header.avatar }}" alt="Profile picture"></div>
{{- else if .Header.contactOnSide -}} 
	<div class="title">
	{{- partial "_header_links" (dict "Header" .Header "Data" .Data "useFontAwesome" $useFontAwesome "Separator" "<br>") -}}
	</div>
{{- end -}}