<div class="section">
    <h1 class="section-title">{{ .Site.Params.title_as.projects }}</h1>
        {{ range .Site.Data.projects }}
        <div class="item">
            <h3 class="item-title">{{ .name }}
                {{ if .link }}<a href="{{ .link }}">
                    {{ if $.Site.Params.useFontAwesome }}<i class="fas fa-link"></i>
                    {{else}}&#128279;{{ end }}</a>
                {{ end }}
            </h3>
            {{ .company | markdownify }} - {{ .date }}
            <p>{{ .details }}</p>
        </div>
        {{ end }}
</div>