<div class="section section-{{ .Feature.feature }}">
	{{- if or (not (isset .Feature "title")) .Feature.title -}}
	<h1 class="section-title">{{ .Feature.title | default (title .Feature.feature) }}</h1>
	{{- end -}}
	
	{{- $widget := .Feature.widget | default .Feature.feature -}}
	{{- $partial := printf "section-%s.html" $widget -}}
	{{- $collection := index .Data (.Feature.collection | default "features") -}}
	
	{{- if eq .Feature.feature "experience" -}}
		{{- if .Params.experience.grouped | default true -}}
			{{ partial "section-experience.html" . }}
		{{- else -}}
			{{ partial "section-experience-nogroup.html" . }}
		{{- end -}}
	{{- else if templates.Exists (printf "partials/%s" $partial) -}}
		{{ partial $partial . }}
	{{- else if and $collection (isset $collection .Feature.feature) -}}
		{{ partial "section-details-list.html" . }}
	{{- else -}}
		<p class="error">Section "{{ .Feature.feature }}" not found or has no data.</p>
	{{- end -}}
</div>
