{{ range .Data.publications }}
<div class="item">
	{{ $useFontAwesome := $.Params.publications.useFontAwesome | default $.Params.useFontAwesome }}
	{{ $noExternalIcon := not ($.Params.publications.externalLinkIcon | default $.Params.externalLinkIcon) }}

	{{- if .link }}
	{{- if $useFontAwesome}}
	<i class="fas fa-link"></i> <a class="no-external-icon" href="{{ .link }}">
	{{- else -}}
		<a class="{{ if $noExternalIcon }}no-external-icon{{ end }}" href="{{ .link }}">
	{{- end -}}
	{{- end -}}

	{{- $style_parts := split $.Feature.style "." -}}
	{{- if in $style_parts "IEEE" }}
	{{- if and .authors (gt (len .authors) 0) -}}
	<span>
		{{- $last_index := sub (len .authors) 1 -}}
		{{- range $i, $e := .authors -}}
		{{- substr $e.first_name 0 1 }}.{{ with $e.middle_name }} {{ substr . 0 1 }}.{{ end }} {{ $e.last_name }}
		{{- if lt $i $last_index }}, {{ else }}.{{ end }}
		{{- end }}
	</span>
	{{- end }}
	<span>"{{ .title }}."</span>
	{{- if .journal }}
		<span>
		<i>{{ .journal }}</i>
		{{- with .vol }} vol. {{ . }}{{ end }}
		{{- with .page }} pp. {{ . }}{{ end }}.
		</span>
	{{- end }}
	<span>{{ .date }}.</span>

	{{- else if in $style_parts "APA" }}
	{{- if and .authors (gt (len .authors) 0) -}}
	<span>
		{{- $last_index := sub (.authors | len) 1 -}}
		{{- range $i, $e := .authors -}}
		{{- if and (gt $i 0) (eq $i $last_index) }} & {{ end -}}
		{{- $e.last_name }}, {{ substr $e.first_name 0 1 }}.{{ with $e.middle_name }} {{ substr . 0 1 }}.{{ end -}}
		{{- if and (lt $i $last_index) (ne $i (sub $last_index 1)) }}, {{ end -}}
		{{- end }}
	</span>
	{{- end }}
	<span> ({{ .date }}).</span>
	<span> {{ .title }}.</span>
	{{- if .journal }}
		<span>
		<i>{{ .journal }}</i>{{ if .vol }}, <i>{{ .vol }}</i>{{ with .issue }}({{ . }}){{ end }}{{ end }}{{ with .page }}, pp. {{ . }}{{ end }}.
		</span>
	{{- end }}

	{{- else if in $style_parts "TitleFirst" }}
		{{- if in $style_parts "Bold" }}<strong>{{ .title }}</strong>{{- else -}}{{ .title }}{{- end -}}
		{{ with .journal }}
		{{- if in $style_parts "MultiLine" }}<br>{{- else -}}, {{ end -}}
		{{ . }}{{ end }}{{ with .date }}, {{ . }}{{ end }}
		{{- if and (in $style_parts "Author") .authors (gt (len .authors) 0) -}}
		{{- if in $style_parts "MultiLine" }}<br>{{- else -}}. {{ end -}}
			{{- $last_index := sub (len .authors) 1 -}}
			{{- range $i, $e := .authors -}}
			{{- substr $e.first_name 0 1 }}.{{ with $e.middle_name }} {{ substr . 0 1 }}.{{ end }} {{ $e.last_name }}
			{{- if lt $i $last_index }}, {{ else }}.{{ end }}
			{{- end }}
		{{- end -}}
	{{- else }}
		<span>
			{{- if and .authors (gt (len .authors) 0) -}}
				{{- $last_index := sub (.authors | len) 1 -}}
				{{- range $i, $e := .authors -}}
				{{- if and (gt $i 0) (eq $i $last_index) }}and {{ end -}}
				{{- $e.last_name }}, {{ substr $e.first_name 0 1 }}.{{ with $e.middle_name }} {{ substr . 0 1 }}.{{ end -}}
				{{- if ne $i $last_index }}, {{ end -}}
				{{- end -}}
			{{- end -}}
			,
			{{- "" -}}
		</span>
		{{ with .date }}<span>{{.}}.</span>{{ end }}
		<span>{{ .title }}</span>
	{{- end -}}
	{{- if .link }}
	</a>
		{{- with .doi }}
			<span>
			{{- if $useFontAwesome}}
			<i class="fas fa-link"></i> <a class="no-external-icon" href="{{ .link }}">
			{{- else -}}
			<a class="{{ if $noExternalIcon }}no-external-icon{{ end }}" href="https://doi.org/{{ . }}">
			{{- end -}}doi:{{ . }}</a></span>
		{{- end }}
	{{- end }}
</div>
{{ end }}
